{% load static %}
<html lang="en" class="html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otkup Automobila Novi Sad</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" class="css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" class="css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favico.ico' %}">
</head>
<body>

    <header>

        {% include 'home/nav.html' %}

  


    </header>

    <main>

    </main>

    {% include 'home/footer.html' %}
    
</body>
</html>